{% extends 'base.html.twig' %}

{% block title %}{{ "menu.services.title"|trans }}{% endblock %}

{% block body %}
    {% set flyingHeader = 'true' %}
    {% include 'partials/header.html.twig' %}

    <div id="services">
        <div class="min-h-screen flex justify-center items-center">
            <div class="text-center p-4">
                <div class="w-full relative">
                    <span class="title" content="{{ "services.soon"|trans }}">{{ "services.soon"|trans }}</span>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html.twig' %}
{% endblock %}
