#projects {
  .title, .subtitle, .para {
    text-transform: uppercase;
    font-family: var(--albas-font);
    text-shadow: 0 0 15px var(--accent-color), 0 0 20px var(--accent-color);
    transition: ease-in-out font-size .5s;
  }

  .title::before, .subtitle::before {
    content: attr(content);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: var(--albas-filled-font);
    color: rgba(var(--accent-color-rgb), 0.6);
    z-index: -1;
  }

  .title {
    font-size: 48px;
    line-height: 70px;
  }

  .subtitle {
    font-size: 30px;
  }

  @media (min-width: 640px){
    .title {
      font-size: 55px;
      line-height: 70px;
    }

    .subtitle {
      font-size: 32px;
    }
  }

  @media (min-width: 768px){
    .title {
      font-size: 67px;
      line-height: 80px;
    }

    .subtitle {
      font-size: 38px;
    }
  }

  @media (min-width: 1024px){
    .title {
      font-size: 80px;
      line-height: 100px;
    }

    .subtitle {
      font-size: 42px;
    }
  }

  @media (min-width: 1280px){
    .title {
      font-size: 100px;
      line-height: 130px;
    }

    .subtitle {
      font-size: 50px;
    }
  }

  @media (min-width: 1536px){
    .title {
      font-size: 130px;
      line-height: 160px;
    }

    .subtitle {
      font-size: 55px;
    }
  }

  .wave-wrapper {
    height: var(--wave-height);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: calc(-1 * var(--wave-height));
    overflow-x: hidden;
    z-index: -10;
  }

  .wave {
    background-color: var(--main-color);
    position: absolute;
    width: calc(200vw + var(--wave-width));
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: var(--wave-opacity-first);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23000000'/%3E%3C/svg%3E")
  }

  .wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: var(--wave-opacity-second);
  }

  .wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: var(--wave-opacity-third);
  }

  @keyframes wave {
    0% {transform: translateX(0);}
    100% {transform: translateX(var(--wave-translate-x));}
  }

  .tools-part {
    background-color: rgba(var(--main-color-rgb), calc(1 - (1 - var(--wave-opacity-first)) * (1 - var(--wave-opacity-second)) * (1 - var(--wave-opacity-third))));
  }

  .project-card {
    background-color: var(--main-color);
    position: relative;
    transition: transform .4s ease-in-out;
    border: 3px solid var(--accent-color);

    &:hover {
      transform: scale(1.03);
    }

    .tags-container {
      .tag {
        border: 2px solid var(--text-color);
        border-color: var(--tag-color);
      }
    }
  }
}



#project {
  #prev-button, #next-button {
    background-color: rgba(var(--main-color-rgb), 0.7);
    border-radius: 50%;
    position: absolute;
    height: 60px;
    width: 60px;
    z-index: 3;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    cursor: pointer;

    &:after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
      font-size: 60px;
      font-family: var(--albas-font);
      padding-bottom: 6px;
      transition: color .8s ease-in-out;
    }

    &:hover:after {
      color: var(--accent-color);
    }
  }

  #prev-button {
    left: calc(3.2% + 20px);

    &:after {
      content: "<";
      padding-right: 4px;
    }
  }

  #next-button {
    right: calc(3.2% + 20px);

    &:after {
      content: ">";
    }
  }

  h3 {
    text-transform: uppercase;
    font-family: var(--albas-font);
    text-shadow: 0 0 15px var(--accent-color), 0 0 20px var(--accent-color);
    transition: ease-in-out font-size .5s;
  }

  h3::before {
    content: attr(content);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: var(--albas-filled-font);
    color: rgba(var(--accent-color-rgb), 0.6);
    z-index: -1;
  }

  .project-desc {
    background-color: var(--main-color);
    box-shadow: 0 0 20px 6px var(--accent-color);
  }

  .tag {
    border: 3px solid var(--text-color);
    border-color: var(--tag-color);
  }

  .viewport {
    transition: transform .4s ease-in-out;
  }

  .hidden-pic {
    display: none;
  }

  /* From friend : https://codepen.io/seeme/pen/MWeqqEg */
  .macbook {
    margin: 0 auto;

    .screen {
      background: #000;
      border-radius: 3% 3% 0.5% 0.5% / 5%;
      margin: 0 auto;
      /* for aspect ratio */
      position: relative;
      width: 90%;
    }

    @media (min-width: 768px) {
      max-width: 1000px;

      .screen {
        width: 80%;
      }
    }

    .screen:before {
      border: 2px solid #cacacc;
      border-radius: 3% 3% 0.5% 0.5% / 5%;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8) inset, 0 0 1px 2px rgba(255, 255, 255, 0.3) inset;
      content: "";
      display: block;
      /* for aspect ratio ~67:100 */
      padding-top: 67%;
    }

    .screen:after {
      content: "";
      border-top: 2px solid rgba(255, 255, 255, 0.15);
      position: absolute;
      bottom: 0.75%;
      left: 0.5%;
      padding-top: 1%;
      width: 99%;
    }

    #project-picture-container {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      margin: 4.3% 3.2%;
      overflow: hidden;
    }

    .viewport {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background: #333;
    }

    .base {
      /* for aspect ratio */
      position: relative;
      width: 100%;
    }

    .base:before {
      content: "";
      display: block;
      /* for aspect ratio ~33:1000*/
      padding-top: 3.3%;
      /* stylin */
      background: linear-gradient(#eaeced, #edeef0 55%, #fff 55%, #8a8b8f 56%, #999ba0 61%, #4B4B4F 84%, #262627 89%, rgba(0, 0, 0, .01) 98%);
      border-radius: 0 0 10% 10%/ 0 0 50% 50%;
    }

    .base::after {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) 0.5%, rgba(0, 0, 0, 0.4) 3.3%, transparent 15%, rgba(255, 255, 255, 0.8) 50%, transparent 85%, rgba(0, 0, 0, 0.4) 96.7%, rgba(255, 255, 255, 0.8) 99.5%, rgba(0, 0, 0, 0.5) 100%);
      content: "";
      height: 53%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .notch {
      background: #ddd;
      border-radius: 0 0 7% 7% / 0 0 95% 95%;
      box-shadow: -5px -1px 3px rgba(0, 0, 0, 0.2) inset, 5px -1px 3px rgba(0, 0, 0, 0.2) inset;
      margin-left: auto;
      margin-right: auto;
      margin-top: -3.5%;
      z-index: 2;
      /* for aspect ratio */
      position: relative;
      width: 14%;
    }

    .notch:before {
      content: "";
      display: block;
      /* for aspect ratio ~1:10 */
      padding-top: 10%;
    }


    /* Screenshot Hover Scroll Additions
    -------------------------------------------------------------- */

    // width = 1.588 * height

    .viewport {
      background-size: cover;
    }

    .viewport.pic-scroll {
      transition: background-position 3s ease;
      background-position: 0 0;
      background-size: 100% auto;
      overflow: hidden;
      cursor: pointer;
    }

    .screen:hover .viewport.pic-scroll.completely-shown {
      background-position: 0 100%;
    }
  }

  /* From Kyborq : https://codepen.io/podyganov/pen/qBOZvoQ */
  .mobile-phone {
    background-color: var(--opposite-main-color);
    margin: auto;
    padding: 10px 10px 30px;
    width: 350px;
    height: 600px;
    border-radius: 30px;

    .screen {
      background-color: var(--opposite-main-color);
      width: 100%;
      height: 100%;
      border-radius: 30px;
      overflow-y: hidden;
    }

    .brove {
      width: 150px;
      height: 20px;
      background-color: var(--opposite-main-color);
      position: absolute;
      margin: 0 100px;
      border-radius: 0 0 20px 20px;
    }

    .speaker {
      width: 60px;
      height: 5px;
      background-color: var(--main-color);
      display: block;
      margin: auto;
      margin-top: 5px;
      border-radius: 20px;
    }
  }
}