#tools {
  .title, .subtitle, .para {
    text-transform: uppercase;
    font-family: var(--albas-font);
    text-shadow: 0 0 15px var(--accent-color), 0 0 20px var(--accent-color);
    transition: ease-in-out font-size .5s;
  }

  .title::before, .subtitle::before {
    content: attr(content);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: var(--albas-filled-font);
    color: rgba(var(--accent-color-rgb), 0.6);
    z-index: -1;
  }

  .title {
    font-size: 48px;
    line-height: 70px;
  }

  .subtitle {
    font-size: 30px;
  }

  @media (min-width: 640px){
    .title {
      font-size: 55px;
      line-height: 70px;
    }

    .subtitle {
      font-size: 32px;
    }
  }

  @media (min-width: 768px){
    .title {
      font-size: 67px;
      line-height: 80px;
    }

    .subtitle {
      font-size: 38px;
    }
  }

  @media (min-width: 1024px){
    .title {
      font-size: 80px;
      line-height: 100px;
    }

    .subtitle {
      font-size: 42px;
    }
  }

  @media (min-width: 1280px){
    .title {
      font-size: 100px;
      line-height: 130px;
    }

    .subtitle {
      font-size: 50px;
    }
  }

  @media (min-width: 1536px){
    .title {
      font-size: 130px;
      line-height: 160px;
    }

    .subtitle {
      font-size: 55px;
    }
  }

  .wave-wrapper {
    height: var(--wave-height);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: calc(-1 * var(--wave-height));
    overflow-x: hidden;
    z-index: -10;
  }

  .wave {
    background-color: var(--main-color);
    position: absolute;
    width: calc(200vw + var(--wave-width));
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: var(--wave-opacity-first);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23000000'/%3E%3C/svg%3E")
  }

  .wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: var(--wave-opacity-second);
  }

  .wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: var(--wave-opacity-third);
  }

  @keyframes wave {
    0% {transform: translateX(0);}
    100% {transform: translateX(var(--wave-translate-x));}
  }

  .tools-part {
    background-color: rgba(var(--main-color-rgb), calc(1 - (1 - var(--wave-opacity-first)) * (1 - var(--wave-opacity-second)) * (1 - var(--wave-opacity-third))));
  }




  .tool-button {
    background-color: var(--main-color);
    position: relative;
    transition: transform .4s ease-in-out;
    border: 3px solid var(--accent-color);

    &:hover {
      transform: scale(1.15);
    }

    img {
      // filter: sepia(100) hue-rotate(var(--icon-hue-rotate)) saturate(3) brightness(var(--icon-brightness));
    }
  }

  .tool-window {
    background-color: rgba(var(--main-color-rgb), .7);
    display: flex;
    z-index: 20;
    pointer-events: none;
    opacity: 0;
    transition: opacity ease-in-out .6s;

    &.shown {
      pointer-events: all;
      opacity: 1;
    }

    .tool-content {
      background-color: var(--main-color);
      max-width: 600px;
      width: 100vw;
      position: relative;

      .close-tool {
        background-color: var(--accent-color);
        transition: background-color ease-in-out .4s;

        &:hover {
          background-color: var(--accent-color-variant);
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: -3px;
        top: -3px;
        bottom: -3px;
        right: -3px;
        background: linear-gradient(90deg, var(--accent-color) 0%, var(--accent-color-variant) 50%,  var(--accent-color) 100%);
        z-index: -1;
      }
    }

    #close-parcoursup-message {
      background-color: var(--accent-color);
      transition: background-color ease-in-out .3s;

      &:hover {
        background-color: var(--accent-color-variant);
      }
    }
  }
}